# ===============================================
# PYTHON
# ===============================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
develop-eggs/
.eggs/
*.manifest
*.spec

# ===============================================
# ENTORNOS VIRTUALES
# ===============================================
.venv/
venv/
ENV/
env/
.ipynb_checkpoints/

# ===============================================
# FLASK / CONFIG PRIVADA
# ===============================================
instance/
*.db
*.sqlite
*.sqlite3
.env
.env.*
*.pem
*.crt
*.key

# ===============================================
# LOGS
# ===============================================
logs/
*.log

# ===============================================
# CACHE
# ===============================================
.mypy_cache/
.pytest_cache/
.cache/
__pycache__/

# ===============================================
# EDITORES / IDE
# ===============================================
# VSCode
.vscode/

# PyCharm
.idea/

# ===============================================
# SISTEMA / OS
# ===============================================
.DS_Store
Thumbs.db

# ===============================================
# DOCKER
# ===============================================
docker-compose.override.yml
*.pid

# ===============================================
# OTROS ARCHIVOS QUE NO QUIERES SUBIR
# ===============================================
*.zip
*.tar
*.tar.gz
*.bak
